/* top-level styling */
* {
    font-family: Arial;
}
/* element-level styling */
h1{
    color: darkblue;
}
/* class-level styling */
.topnav {
    overflow: hidden;
    align-content: center;
}
.topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
.page-title{
    text-align: center;
}
.form-box{
    padding: 10px;
    align-content: left;
}
.tags{
    padding: 0px 0px 0px 20px;
    border: 2px darkgoldenrod solid;
    border-radius: 10px;
    max-width: 200px;
}
label.top{
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: large;
    color: darkblue;
}